<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js" integrity="sha512-YeeA/Qxn5hYdkukScTCNNOhTrv1C2RubAGButJ1rmgQwZf/HdRaCGl+JAVkqsqaNRaYNHdheiuKKuPf9mDcqKg==" crossOrigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<div>
    <form>
        <input type="text" id="msgInput">
    </form>
</div>
<div>
    <ul id="message">

    </ul>
</div>

<script>
    $(() => {
        const socket = io();

        $('form').submit(() => {
            let msg = {messege:$('#msgInput').val()}
            socket.emit('chat-msg-1', msg);
            $('#msgInput').val('');
            return false;
        });

        socket.on('chat-msg-2', (msg) => {
            console.log(msg.messege)
            $('#message').append('<li>' + msg.messege + '</li>');
        });
    });
</script>