<body class="text-center">
    <div style="display : flex; justify-content: center; align-items : center;width:100%; height: 50%;">
        <div style="width: 50%;">
            <main class="form-signin w-100 m-auto" >
                <form action="join/save" method="POST">
                    <h1 class="h3 mb-3 fw-normal">회원가입</h1>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="id" name="id">
                        <label for="id">아이디를 입력하세요</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="password" name="password">
                        <label for="password">Password</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="name" name="name">
                        <label for="name">Password</label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">가입하기</button>
                    <p class="mt-5 mb-3 text-muted">© 2022–2023</p>
                </form>
            </main>
        </div>
    </div>
</body>