<div style="display:flex; justify-content: center">
    <div style="width:80%">
        <form action="/board/save" method="POST">
            <input type="text" name="title" class="form-control mt-4 mb-2"
                   placeholder="제목을 입력해주세요.">
            <div class="form-group">
                <textarea class="form-control" rows="10" name="contents"
                          placeholder="내용을 입력해주세요">
                </textarea>
            </div>
            <br />
            <button type="submit" class="btn btn-secondary mb-3" style="float:right">제출하기</button>
        </form>
    </div>
</div>
{{#if alert}}
    {{> modal }}
{{/if}}