<script>
    function edit(){
        location.href = "/board/edit"
    }
</script>
<div style="display:flex; justify-content: center">
    <div style="width:85%">
        <div style="float:right; margin-top:30px">
            <button onClick="edit()" type="button" class="btn btn-success">글 등록</button>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">idx</th>
                <th scope="col">Title</th>
                <th scope="col">Contents</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            {{#each list}}
                <tr>
                    <th scope="row">{{ IDX }}</th>
                    <td>{{ TITLE }}</td>
                    <td>{{ CONTENTS }}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
