<script>
    function edit(){
        location.href = "/board/edit"
    }
    var view = (idx) =>{
        location.href = "/board/view?idx=" + idx
    }
</script>
<div style="display:flex; justify-content: center">
    <div style="width:85%">
        <nav class="navbar navbar-light">
            <div class="container-fluid">
                <form class="d-flex w-100" action="/board">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchText">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div style="float:right; margin-top:30px">
            <button onClick="edit()" type="button" class="btn btn-success">글 등록</button>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">idx</th>
                <th scope="col">Title</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
                {{#each list}}
                    <tr>
                        <th scope="row">{{ count @index }}</th>
                        <td onclick="view({{ IDX }})">{{ TITLE }}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
